language: python
sudo: false
python:
    - 2.7
    - 3.5
    - 3.6
matrix:
    include:
        - python: "3.7"
          dist: xenial
          sudo: true
install:
    - pip install six==1.10.0 # force here to avoid conflit with zc.recipe.testrunner
    - pip install zc.buildout
    - pip install coveralls coverage
    - buildout bootstrap
    - buildout install test
script:
    - coverage run bin/test -v1
notifications:
    email: false
after_success:
    - coveralls
cache:
  pip: true
  directories:
    - eggs/
