language: python
python:
    - 2.7
    - 3.5
    - 3.6
matrix:
    include:
        - python: "3.7"
          dist: xenial
        - python: "3.8"
          dist: xenial
        - python: 3.6
          name: "Flake8"
          install:  pip install -U flake8
          script: flake8 --doctests src setup.py
          after_success:
install:
    - pip install zc.buildout
    - pip install coveralls coverage
    - buildout bootstrap
    - buildout install test
script:
    - coverage run bin/test -v1
notifications:
    email: false
after_success:
    - coveralls
cache:
  pip: true
  directories:
    - eggs/
